.accordion .answer{
    display:none;
}
.question{
    background-color:#e2dfdfa7;
    color:black;
    padding:2.5%;
    border-radius: 15px;
}

.accordion.active .answer{
    display:block;
    background-color:#d5d5d5;
    color:black;
    padding:2.5%;
    border-radius: 15px;
}

.question::before {
    content: '+ ';
}

.question:hover, 
.accordion.active .question{
    background-color:#e2dfdfa7;
    cursor:pointer;
}

.accordion.active .question::before {
    content: '- ';
}